
.mpartial-section {
    .title {
        margin-top: 20px;
        .section-background-image {
            margin-left: 100px;
            background-size: 200px 200px;
            background-repeat: no-repeat;
            background-image: url('../../assets/images/cbimage.png');
            .section-title-text {
                padding-top: 21%;
                padding-left: 17%;
                background-position: 0 16px;
                font-family: Museo Sans Rounded 500,Helvetica,Arial,Sans-Serif;
                text-align: left;
                font-weight: 400;
                font-size: 45px;
                line-height: 58px;
                letter-spacing: 0;
                color: #000;
                opacity: 1;
            }
        }
        .section-title-description {
            display: block;
            text-align: left;
            font-weight: 400;
            font-size: 16px;
            line-height: 34px;
            letter-spacing: -.19px;
            color: #000;
            opacity: 1;
            padding-top: 19%;
        }
    }
    .compare-images-section {
        width: 100%;
        height: auto;
        padding: 50px 50px 0;
        .compare-images {
            box-sizing: border-box;
            position: relative;
            width: 100%;
            height: 518.75px;
            overflow: hidden;
            display: block;
        }
    }
}